extends layouts/base

block head
	title= "Villain Shop"

block content
	header#header
		.container
			.block-title
				h1 Villain Shop
				.tagline A very awesome shop is going to open here very soon.
