extends ../layouts/base


block head
	- var CURRENT = "Terms";
	- var WRAPPER_CLASS = "";


block modal
	include ../sections/rule-modal

block content
	section#terms
		.container
			.wrap
				.title-group
					h1 Terms & Services

	include ../sections/footer