.social 
	ul
		li: a(href="http://facebook.com/" + page.social.facebook target="_blank").facebook: i.fa.fa-facebook
		li: a(href="http://twitter.com/" + page.social.twitter target="_blank").twitter: i.fa.fa-twitter
		li: a(href="http://pinterest.com/" + page.social.pinterest target="_blank").pinterest: i.fa.fa-pinterest
