section#rule-modal
	a(href="#close").close-rule

	.container
		.wrap
			.title-group
				h2 12

			p Some amazing copywriting is going to be here. Trust me, I am an engineer 👴.

			ol
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.
				li Something, something, something.

			p
				| For you,
				br
				| Villain Shop



