@keyframes fade {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.animate {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	transition: 
		opacity 1.2s cubic-bezier(0.645, 0.045, 0.095, 1.08),
		transform 1s cubic-bezier(0.645, 0.045, 0.095, 1.08);

	&.show {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}