/* --------------------------------------------
//  buttons
*/

.button {
	-webkit-appearance: none; // webkit
	background: $primary;
	color: #fff;
	float: left;
	border: 0;
	text-transform: uppercase;
	display: block;
	font-size: 12px;
	padding: 14px 16px;
	font-family: $secondary-font;
	cursor: pointer;
	font-weight: 700;
	vertical-align: middle;
	letter-spacing: 1px;
	transition: 
		0.2s border ease 0s,
		0.2s background ease 0s,
		0.2s opacity ease 0s;
	 
	width: 100%;
	max-width: 168px;
	border-radius: 24px;
	text-align: center;
	height: 48px;

	span {
		margin: 0 0 0 8px;
		font-weight: 300;
		color: #ccc;
	}

	&.link {
	   color: $base-header;
	   max-width: 100%;
	   width: auto;
	   background: transparent;
	}

	&.small {
		max-width: 140px;
	}

	&.shadow {
		box-shadow: rgba(142, 150, 255, 0.4) 0 4px 20px;
	}

	&.loading, form.loading & {
		text-indent: -9999px;
		overflow: hidden;
		background: #bbb;
		cursor: default;
		position: relative;

		&:after {
			content: " ";
			border: 1px solid #fff;
			border-bottom-color: transparent;
			height: 24px;
			width: 24px;
			margin: -12px 0 0 -12px;
			background: 0 0!important;
			display: block;
			border-radius: 12px;
			position: absolute;
			top: 50%;
			left: 50%;
			animation: rotate 0.6s 0s linear infinite;
		}
	}

	&.large {
		max-width: 180px;
		padding: 19px 20px;
		line-height: 1.2;
		height: 56px;
		border-radius: 28px;
	}

	// ---------------------- phone meiaq
	@include media($phone) {
	}
	// ---------------------- tablet meiaq
	@include media($tablet) {
	}
	// ---------------------- desktop meiaq
	@include media($desktop) {
		&:hover {
			color: #fff;
			background: darken($primary, 3);
		}

		&.loading:hover {
			background: #bbb;
		}	
	}
}

.button-underline {
	border-bottom: 1px solid;
	position: relative;
	display: block;
	float: left;

	&:after {
		content: " ";
		display: block;
		position: absolute;
		border-bottom: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 100%;
		background: rgba(0, 0, 0, 0);
		transition: 
			background 0.2s;
	}

	// ---------------------- phone meiaq
	@include media($phone) {
	}
	// ---------------------- tablet meiaq
	@include media($tablet) {
	}
	// ---------------------- desktop meiaq
	@include media($desktop) {
		&:hover:after {
			background: rgba(0, 0, 0, 0.04);
		}
	}
}

.button-group {
	width: 100%;
	text-align: center;

	.button {
		display: inline-block;
		clear: none;
		float: none;
		margin: 0 8px 8px 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// ---------------------- phone meiaq
	@include media($phone) {
		.button {
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}
	// ---------------------- tablet meiaq
	@include media($tablet) {
	}
	// ---------------------- desktop meiaq
	@include media($desktop) {
	}
}