// --------------------------------------------
// colors

$base : #fafafa; // barely light
$base-text : #888888; // light grey
$base-header : #333; // darkish grey

// main colors
$primary : #212121;
$secondary : #3e5576;

// special
$success : #afe7a9;
$error : #fd6c6c;
