// --------------------------------------------
// colors

$base : #f5f5f5;
$base-text : #818181;
$base-header : #272424;

// main colors
$primary : #8facc5;
$secondary : #aeb4b6;

$pink: #f2dad7;

// base text
$grey : #272424;
$footer : #21252b;