// --------------------------------------------
// fonts


@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-bold.eot');
    src: url('/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gilroy-bold.woff') format('woff'),
         url('/fonts/gilroy-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-light.eot');
    src: url('/fonts/gilroy-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gilroy-light.woff') format('woff'),
         url('/fonts/gilroy-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

$primary-font: "Gilroy", Arial, sans-serif;
