/* --------------------------------------------
//	cart
*/
section#cart {
	.container {
		max-width: 720px;
	}

	.button {
		clear: both;
		margin: 0 auto 12px auto;
		float: none;
	}

	.note {
		font-size: 14px;
		text-align: center;
		max-width: 260px;
		margin: 0 auto;
		line-height: 1.6;
		color: #b9b9b9;
	}


	// ---------------------- phone mediaq
	@include media($phone) {
	}
	// ---------------------- tablet mediaq
	@include media($tablet) {
	}
	// ---------------------- desktop mediaq
	@include media($desktop) {
	} 
}
