/* --------------------------------------------
//	secondary-nav element
*/
.secondary-nav {
	clear: both;
	
	li {
		margin: 0 8px 0 0;
	}

	a {
		padding: 6px;
		display: block;
		text-align: center;
		text-align: center;
		line-height: 1;
	}

	// ---------------------- phone mediaq
	@include media($phone) {
	}
	// ---------------------- tablet mediaq
	@include media($tablet) {
		a {
			font-size: 24px;
		}
	}
	// ---------------------- desktop mediaq
	@include media($desktop) {
		li {
			a {
				&:hover i {
					color: rgba(0, 0, 0, 0.9);
				}
			}
		}
	}
}
